<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Quilling</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Quilling, also known as Paper Filigree, Filigrana or filigree work, is the result of rolling or coiling thin strips of paper into delicate-looking shapes and using these pieces to form a design. This art form is very old and is traceable to the 15th century and possibly as early as the 13th or 14th century. It is believed that quilled items were used by French and Italian nuns and monks to decorate religious objects in order to simulate more costly handiworks such as carved ivory or wrought iron.
        </p>
      </div>
      <div class="col-lg-4">
        <p>"Quilling" as defined by Webster's Dictionary is "a band of material fluted into small ruffles so as to resemble a row of quills." The term "quilling" may have been adopted when filigree work spread to the American colonies. Others believe it was called this simply because the coils were rolled over the end of a goose quill.
          </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="#" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Discover more patters
        </a>
      </div>
    </div>
  </div>
</section>
