<header>
  <div id="myCarousel_intro" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <div class="item_1">
          <div class="container">
            <div class="carousel-caption">
              <h2><span class="name">Discover new quilling designs</span></h2>
              <p><a class="btn btn-danger" href="/display">Check the products <i class="fa fa-angle-double-right"></i></a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item_2">
          <div class="container">
            <div class="carousel-caption">
              <h2><span class="name">Discover new quilling designs</span></h2>
              <p><a class="btn btn-danger" href="/display">Check the products <i class="fa fa-angle-double-right"></i></a></p>
            </div>
          </div>
        </div>

      </div>
      <div class="item">
        <div class="item_3">
          <div class="container">
            <div class="carousel-caption">
              <h2><span class="name">Discover new quilling designs</span></h2>
              <p><a class="btn btn-danger" href="/display">Check the products <i class="fa fa-angle-double-right"></i></a></p>
            </div>
          </div>
        </div>

      </div>
      <div class="item">
        <div class="item_4">
          <div class="container">
            <div class="carousel-caption">
              <h2><span class="name">Discover new quilling designs</span></h2>
              <p><a class="btn btn-danger" href="/display">Check the products <i class="fa fa-angle-double-right"></i></a></p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel_intro" data-slide="prev"><span class="fa fa-chevron-left fa-2x"></span></a>
    <a class="right carousel-control" href="#myCarousel_intro" data-slide="next"><span class="fa fa-chevron-right fa-2x"></span></a>
  </div>
</header>